@{
    ViewData["Title"] = "DB";
}
<h1 class="display-4">Сервисы СУБД на примере CosmosDB</h1>
<h2>SQL та NoSQL</h2>
<p>NoSQL развиваются как усовершенствование указанных недостатков</p>
<p>@ViewData["code"]</p>